# Auto detect text files and perform LF normalization
* text=auto

# Handle line endings of files explicitly
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.css text eol=lf

# Explicitly declare non-text files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.webp binary
